.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex-grow: 1;
  padding-bottom: 80px; /* miejsce na menu mobilne */
}

@media (min-width: 768px) {
  .contentWrapper {
    margin-left: 80px; /* miejsce na boczny navbar */
    padding-bottom: 0;
  }
}