.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #18181b;
  border-top: 1px solid #27272a;
  z-index: 50;
  transition: all 0.3s ease-in-out;
  display: flex;
  overflow: hidden;
}


.logo {
  display: none;
  padding: 24px;
  font-weight: 900;
  font-size: 0.9rem;
  color: #ffffff;
  white-space: nowrap;
}

.menuList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 0 8px;
}

@media (min-width: 768px) {
  .nav {
    top: 0;
    height: 100vh;
    width: 150px;
    flex-direction: column;
    border-top: 0;
    border-right: 1px solid #27272a;
  }

  .nav:hover {
    width: 256px;
  }

  .logo {
    display: flex;
  }

  .menuList {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 8px;
  }
}